<% layout("layouts/boilerplate.ejs") %>
   
    <!-- <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="title" value="<%=listing.title%>" type="text">
        <br><br>
        <textarea name="description" value="<%=listing.description%>" type="text"></textarea>
        <br><br>
        <input name="image" value="<%=listing.image%>" type="text">
        <br><br>
        <input name="price" value="<%=listing.name%>" type="number">
        <br><br>
        <input name="location" value="<%=listing.location%>" type="text">
        <br><br>
        <input name="country" value="<%=listing.country%>" type="text">
        <br><br>
        <button>Edit</button>
    </form> -->
  <div class="row mt-3">
    <div class="col-8 offset-2">

      
      <h3>Edit your listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text"  class="form-control" required/>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Enter a valid Title.</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Enter a Short Description.</div>
          </div>

          <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>" alt="listing image" style="height: 200px; width: 200px;">
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input name="listing[image]" type="file" class="form-control"/>
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
              <div class="invalid-feedback">Price should be Valid.</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" value="<%= listing.country %>" type="text"  class="form-control" required/>
              <div class="invalid-feedback">Country should be valid.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text"  class="form-control" required/>
            <div class="invalid-feedback">Location should be Valid.</div>
          </div>

          <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
        </form>
    </div>
  </div>